<div layout="row" flex ng-cloak layout-padding layout-align="center">
    <form>
        <md-content layout="column" layout-padding layout-margin>
            <div layout="column" layout-padding layout-margin>
                <md-input-container flex>
                    <label>Name</label>
                    <input ng-model="login.name" type="text">
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input ng-model="login.password" type="password" autocomplete="off">
                </md-input-container>
            </div>
            <div layout layout-padding layout-margin>
                <md-button class="md-raised md-primary" flex>Login</md-button>
                <md-button class="md-raised md-accent md-hue-2" ng-href="#!/regist" flex>Regist</md-button>
            </div>
        </md-content>
    </form>
</div>